* {
    padding: 0;
    margin: 0;
}


.images{
    margin-top: 200px;
    margin-left: 300px;
}

.new-arrival{
    background-color: green;
    width: 40px;
    height: 15px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    
}

.content{
    margin-top: -600px;
    margin-left: 950px;
}

.order-info{
    margin-top: 15px;
    line-height: 50px;
}

.price{
    font-size: 25px;
    color: #31708E;
    font-weight: bolder;
}

.in-stoke{
    color: #fff;
    background-color: #5cb85c;
    text-align: center;
    padding: 5px;

}

.out-of-stoke{
    color: #fff;
    background-color: #d9534f;
    text-align: center;
    padding: 5px;
    width: 10px;
}

input{

    border: 1px solid #000;
    height: 33px;
    width: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

select,option{
    height: 33px;
    width: 60px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;

}
.buying-btn{
    background-color: #31708E;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    width: 500px;
}

.buying-btn:hover{

    background-color: #5085A1;
    

}

.information{
    margin-top: 200px;
    margin-left: 20%;
}

.detail-list{
    margin-left: 10%;
    margin-top: 10px;
    line-height: 50px;

}

.icon{
    width: 20px;
    height: auto;
    

}





