.main-container {
    position: absolute;
    margin-top: 0%;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    top: 11%;
    text-align: center;
}

.row {
    position: relative;
    top: 11%;
    padding: 1%;
}

.columns {
    float: left;
    width: 30%;
    margin-left: 2%;
}

.map-container {
    position: relative;
    top: 11%;
}